<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is home store</h1>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>
<div sec:authorize="isAuthenticated()">
    <a href="/logout">Logout</a></div>

<div sec:authorize="isAuthenticated()">
    <b>Welcome!
        <div sec:authentication="principal.username"></div>
    </b>
</div>


</body>
</html>